name: Code Coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: llvm-tools-preview
    - uses: Swatinem/rust-cache@v2
    - name: Install cargo-make
      run: cargo install cargo-make
    - name: Build
      run: cargo build --verbose
      env:
        CARGO_INCREMENTAL: '0'
        RUSTFLAGS: '-C instrument-coverage --deny warnings'
        RUSTDOCFLAGS: '-C instrument-coverage'
    - name: Run cargo tests
      run: cargo test --verbose
      env:
        CARGO_INCREMENTAL: '0'
        RUSTFLAGS: '-C instrument-coverage --deny warnings'
        RUSTDOCFLAGS: '-C instrument-coverage'
    - name: Run check tests
      run: cargo xtask check-only
      env:
        CARGO_INCREMENTAL: '0'
        RUSTFLAGS: '-C instrument-coverage --deny warnings'
        RUSTDOCFLAGS: '-C instrument-coverage'
    - name: Install grcov
      run: if [[ ! -e ~/.cargo/bin/grcov ]]; then cargo install grcov; fi
    - name: Run grcov
      run: |
        grcov . --binary-path target/debug/ -s . -t lcov --branch --llvm \
            --ignore '../*' \
            --ignore "/*" \
            --ignore 'macros/*' \
            --ignore 'fuzz/*' \
            --ignore 'utils/*' \
            --ignore 'target/**/build/litcheck-filecheck-*/**' \
            --ignore '**/tests/**' \
            -o lcov.info
    - name: Coveralls
      uses: coverallsapp/github-action@v2
